.cb-block {
    height: 40px;
    background-color: rgb(250, 250, 250);
    margin: 12px;
    display: flex;
    padding: 0;
}

.cb-block h1 {
    height: 100%;
    line-height: 40px;
    padding-right: 8px;
    text-align: right;
    width: 120px;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}

.percentage {
    opacity: 0.9;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}


